.button_container {
  display: flex;
  justify-content: center;

  .border {
    //position: relative;
    //top: 50px;
    //left: -30px;
    text-align: center;
    width: 280px;
    height: 135px;
    border: 0.25px solid #3C3C3C;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 0 20px;
  }

    .btn {
      opacity: 1;
      text-transform: uppercase;
      text-align: center;
      font: normal normal 300 36px/45px Open Sans;
      letter-spacing: 0;
      color: #3C3C3C;
    }
  }
